.nav-sec {
    padding: 25px;
    display: flex;
    justify-content: space-between;
  }
  .hamburger{
    margin-top: 5px;
    color: white;
    margin-right: 10px;                
  }
  .search-icon{
    position: absolute;
    top: 2px;
    left: 2px;
  }
  input, .formz-inline{
    width: 100%;
  }
  input[type=text] {
    background: rgb(255, 255, 255, 0.6);
    border-radius: 15px;
    border: none;
    height: 46px;
    padding-left: 50px;
    color: gray;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
  }
  .formz-inline i{
    font-size: 20px;
    color: black;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin: 14px;
  }
  button {
    position: absolute;
    padding: 22px 22px 22px 22px;
    border: none;
    border-radius: 15px 0px 0px 15px;
  }
  .suggestion-item--active{
    background: rgb(255, 255, 255, 0.6);
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
  }
  .suggestion-item{
    background: rgb(255, 255, 255, 0.1);
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* border-radius: 10px; */
  }
  .autocomplete-dropdown-styles{
    border-radius: 10px;
  }