* {
  font-family: 'Proxima Nova','Segoe UI',sans-serif;
  margin: 0;
  color: white;
}
.b-color{
  background: gray;
}
.body-sec{
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
}
.pic .body-sec{
  background-image: linear-gradient(rgba(26,188,156,0.7), rgba(231,76,60,0.7)),url("/assets/t-full.png"); 
  animation: Background-wall 100s ease infinite;
}
.rain .body-sec{
  background-image: linear-gradient(rgba(26,188,156,0.7), rgba(231,76,60,0.7)),url("/assets/rain.jpg");
  animation: Background-wall 100s ease infinite;
}
.clear .body-sec{
  background-image: linear-gradient(rgba(26,188,156,0.7), rgba(231,76,60,0.7)),url("/assets/Clear-Sky.jpg");
  animation: Background-wall 100s ease infinite;
}
.cloudy .body-sec{
  background-image: linear-gradient(rgba(26,188,156,0.7), rgba(231,76,60,0.7)),url("/assets/cloudy.jpg");
  animation: Background-wall 100s ease infinite;
  transition: all 0.5s ease;
}
.storm .body-sec{
  background-image: linear-gradient(rgba(26,188,156,0.7), rgba(231,76,60,0.7)),url("/assets/storm.jpg");
  animation: Background-wall 100s ease infinite;
}
.drizzle .body-sec{
  background-image: linear-gradient(rgba(26,188,156,0.7), rgba(231,76,60,0.7)),url("/assets/drizzle.jpg");
  animation: Background-wall 100s ease infinite;
}
.snow .body-sec{
  background-image: linear-gradient(rgba(26,188,156,0.7), rgba(231,76,60,0.7)),url("/assets/snow.jpg");
  animation: Background-wall 100s ease infinite;
}
.main-wrapper{
  padding-bottom: 33px;
}
@keyframes Background-wall {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}